* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-brand-color: #2196F3;
    --main-text-color: #757575;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background-color: #FFF;
    font-family: Roboto, Raleway, sans-serif;
    color: #212121;
}

footer {
    background-color: #2F303A;
}

button:hover {
    color: #fff;
    background-color: var(--main-brand-color);
    cursor: pointer;
}

.features,
.team-members,
.page-header-menu,
.portfolio-types,
.portfolio-items,
.page-header-contacts,
.footer-elements,
.text-boxes,
.team-member-social-links,
.clients,
.footer-address,
.footer-social-links,
.footer-social-links-list {
    list-style: none;
}

.section {
    padding: 94px 0;
}

/* Header */
.page-header {
    border-bottom: 1px solid #ECECEC;
    padding: 25px;
}
.page-header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.page-header .brand-logo {
    margin-right: 93px;
}

.page-header-menu {
    display: flex;
}

.page-header-link {
    margin-right: 46px;
    letter-spacing: 0.02em;
}

.page-header-contacts {
    display: flex;
    margin-left: auto;
}
.page-header-contacts .contact-link {
    display: flex;
    align-items: center;
}
.page-header-contacts .contact-link {
    margin-left: 50px;
}

.contact-link .icon {
    fill: currentColor;
    margin-right: 10px;
}

/*header end*/

/*slider start */
.slider {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/slider-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    text-align: center;
    padding: 200px 0;
}
.slider-btn {
    color: #fff;
    background-color: var(--main-brand-color);
    width: 200px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 0.06em;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.link {
    text-decoration: none;
}
.link:hover, .link:focus {
    color: var(--main-brand-color);
}

/* Brand logo */
.brand-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-brand-color);
    text-decoration: none;
}
.features,
.team-members,
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.logo-header {
    color: #000;
}
.logo-footer {
    color: #FFF;
}

/* Navigation */
.page-header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
}
.contact-link:hover, .contact-link:focus {
    color: var(--main-brand-color);
}

/* Footer */
footer {
    padding: 60px 0;
}
.footer-elements {
    display: flex;
}
.footer-elements>ul {
    margin-right: 70px;
}
.brand-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFF;
}

.brand-address .link {
    display: block;
    color: hsla(0, 0%, 100%, 0.6);
}
.brand-address .link:hover,
.brand-address .link:focus {
    color: var(--main-text-color);
}
.footer-logo {
    margin-bottom: 20px;
}
.brand-address a {
    margin-top: 9px;
    line-height: 2;
    letter-spacing: 0.03em;
}
.footer-social-links-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 12px;
    margin-bottom: 20px;
}
.footer-social-links-list {
    display: flex;
    align-items: center;
}
.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--main-brand-color);
}
/* Text boxes */
.text-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    padding-bottom: 94px;
}
.text-box {
    max-width: 270px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.text-box-thumbnail {
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
}
.text-box-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text-box-content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*Features section*/
.features-item {
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Section titles */
.slider-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-transform: uppercase;
    color: #FFF;
    max-width: 630px;
    margin: 0 auto 30px;
}
.main-page-subtitle {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.features-title,
.members-title,
.clients-title {
    margin-bottom: 50px;
}

/* Team members section */
.main-page-team {
    background-color: #F5F4FA;
}
.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin: 30px auto 10px;
}
.team-member-role {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 30px;
}
.team-members-item {
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.team-member-social-links {
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.team-member-social-links li {
    margin-left: 10px;
    margin-bottom: 32px;
}
.team-member-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFF;
    color: #AFB1B8;
}
.team-member-social-link:hover,
.team-member-social-link:focus {
    background-color: var(--main-brand-color);
    color: #FFF;
}

/* Portfolio section */
.portfolio-filter {
    padding-bottom: 50px;
}
.portfolio-btn {
    background: #F5F4FA;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    padding: 6px 22px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px;
}
.portfolio-item-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
    padding: 0 24px 20px;
}
.portfolio-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-bottom: -8px;
}

.portfolio-types-item {
    margin-left: 8px;
    margin-bottom: 8px;
}
.portfolio-item {
    max-width: 370px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.portfolio-item img {
    display: block;
}
.portfolio-item figcaption {
    border-right: 1px solid #EEE; 
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
.portfolio-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
                0px 4px 4px 0px rgba(0, 0, 0, 0.06),
                0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/*Clients section */
.clients {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.clients-item {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #AFB1B8;
    max-width: 170px;
    width: 100%;
    height: 92px;
}
.clients-item:hover,
.clients-item:focus {
    color: var(--main-brand-color);
}

/*Icons size*/
.envelope {
    width: 16px;
    height: 12px;
}
.smartphone {
    width: 10px;
    height: 16px;
}
.text-box-thumbnail-icon {
    width: 70px;
    height: 70px;
}
.team-member-social-link-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.clients-item-icon {
    width: 106px;
    height: 60px;
    margin: 16px 31px;
    fill: currentColor;
}