*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-brand-color: #2196F3;
    --main-text-color: #757575;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #FFF;
    font-family: Roboto, Raleway, sans-serif;
    color: #212121;
}

footer {
    background-color: #2F303A;
}

button:hover {
    color: #fff;
    background-color: var(--main-brand-color);
    cursor: pointer;
}

.features,
.team-members,
.page-header-menu,
.portfolio-types,
.portfolio-items,
.page-header-contacts,
.footer-elements {
    list-style: none;
}

/* Header */
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page-header-menu {
    display: flex;
}

.page-header-link {
    margin: auto 50px;
}

.page-header-contacts {
    display: flex;
}

.page-header-contacts .contact-link {
    margin: auto 30px;
}

/*header end*/

/*slider start */
.slider {
    background-color: #2F303A;
    min-height: 600px;
    text-align: center;
    padding: 200px 0;
}

.slider-btn {
    color: #fff;
    background-color: var(--main-brand-color);
    width: 200px;
    height: 50px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.link {
    text-decoration: none;
}

.link:hover, .link:focus {
    color: var(--main-brand-color);
}

/* Brand logo */
.brand-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-brand-color);
    text-decoration: none;
}

.features,
.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-header {
    color: #000;
}
.logo-footer {
    color: #FFF;
}

/* Navigation */
.page-header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
}

.contact-link:hover, .contact-link:focus {
    color: var(--main-brand-color);
}

/* Footer */
.brand-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #FFF;
}

.brand-address .link {
    display: block;
    color: hsla(0, 0%, 100%, 0.6);
}

.brand-address .link:hover,
.brand-address .link:focus {
    color: var(--main-text-color);
}

/* Text boxes */
.text-boxes {
    display: flex;
    list-style: none;
}

.text-box-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text-box-content {
    font-size: 14px;
    line-height: 1.71;    
    color: var(--main-text-color);
}

/* Section titles */
.slider-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #FFF;
}

.main-page-subtitle {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Team members section */
.main-page-team {
    background-color: #F5F4FA;
    padding: 94px;
}
.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-member-role {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
    text-align: center;
}
.team-members-item {
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* Portfolio section */
.portfolio-btn {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio-item-type {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}

.main-page-features,
.main-page-text-boxes {
    padding: 94px;
}