.page-footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer-elements {
    display: flex;
    justify-content: space-between;
}




.footer-newsletter__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 12px;
    margin-bottom: 20px;
}