// Mobile
    .page-footer {
        padding: 60px 0;
        background-color: #2F303A;

        &__elements {
            display: block;
            text-align: center;
        }

        &__socials {
            margin-right: auto;
        }

        &__heading {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $footer-heading-color;
            margin-top: 12px;
            margin-bottom: 20px;
        }
    }

// Tablet
@media screen and (min-width: $tablet) {
    .page-footer {

        &__elements {
            display: flex;
            flex-wrap: wrap;
        }

        &__address {
            flex-basis: 50%;
        }

        &__socials {
            flex-basis: 50%;
            margin-right: auto;
        }
        
        &__newsletter {
            margin: 0 auto;
        }

    }
}

// Desktop
@media screen and (min-width: $desktop) {
    .page-footer {
        
        &__elements {
            justify-content: space-between;
        }

        &__address {
            flex-basis: auto;
            text-align: left;
        }

        &__socials {
            flex-basis: auto;
            margin: 0;
        }

        &__heading {
            text-align: left;
        }

        &__newsletter {
            margin: 0;
        }
    }
}