.brand-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $brand-address-color;
    margin-right: 70px;

    &__link {
    display: block;
    color: $brand-address-link-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: $main-transition;

        &:hover,
        &:focus {
            color: $main-text-color;
        }
    }
}