.clients {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

    &__title {
    margin-bottom: 50px;
    }

    &__item {
        display: flex;
        justify-content: center;
        border: 1px solid;
        border-radius: 4px;
        margin-left: 30px;
        margin-bottom: 30px;
        color: $clients-item-color;
        max-width: 170px;
        width: 100%;
        height: 92px;
        transition: $main-transition;

            &:hover,
            &:focus {
            color: $main-brand-color;
            }
        }

    &__icon {
    width: 106px;
    height: 60px;
    margin: 16px 31px;
    fill: currentColor;
    }
}