.footer-socials {
    margin-right: auto;

    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $footer-heading-color;
        margin-top: 12px;
        margin-bottom: 20px;
    }
}

.footer-socials-list {
    display: flex;
    align-items: center;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: $footer-socials-link-bg-color;
        color: $footer-socials-link-color;
        transition: background-color $main-transition;

        &:hover,
        &:focus {
            background-color: $main-brand-color;
        }

    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}