.header-contacts {
    display: flex;
    margin-left: auto;

    &__link {
        margin-left: 50px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: $main-text-color;
        transition: $main-transition;

        &:hover,
        &:focus {
            color: $main-brand-color;
        }
    }

    &__icon-envelope {
        fill: currentColor;
        margin-right: 10px;
        width: 16px;
        height: 12px;
}

    &__icon-smartphone {
        fill: currentColor;
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
}