.modal-backdrop {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-backdrop-color;
    transition: $main-transition;
    transition-property: visibility, transform, opacity;

    &--is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}