.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $modal-backdrop-color;
    transition: $main-transition;
    transition-property: visibility, transform, opacity;

    &--is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}