.newsletter-form {
    display: flex;

    &__input {
        background-color: transparent;
        border: 1px solid $newsletter-form-input-border-color;
        border-radius: 4px;
        padding: 15px 16px;
        width: 358px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $newsletter-form-input-color;
        transition: color $main-transition, border-color $main-transition;
    
        &:hover,
        &:focus,
        &:active {
            outline: none;
            color: $newsletter-form-input-mod-color;
            border-color: $newsletter-form-input-mod-border-color;
        }
    }
}