// Mobile
    .newsletter-form {
        display: block;

        &__input {
            background-color: transparent;
            border: 1px solid $newsletter-form-input-border-color;
            border-radius: 4px;
            padding: 15px 16px;
            margin-bottom: 20px;
            max-width: 450px;
            width: 100%;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: $newsletter-form-input-color;
            transition: color $main-transition, border-color $main-transition;
        
            &:hover,
            &:focus,
            &:active {
                outline: none;
                color: $newsletter-form-input-mod-color;
                border-color: $newsletter-form-input-mod-border-color;
            }
        }
    }

// Tablet
@media screen and (min-width: $tablet) {
    .newsletter-form {

    &__input {
        width: 450px;
    }
    }
}
// Desktop
@media screen and (min-width: $desktop) {
    .newsletter-form {
        display: flex;

        &__input {
            width: 358px;
        }
    }
}