.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

    &__item {
        max-width: 370px;
        margin-left: 30px;
        margin-bottom: 30px;
        transition: box-shadow $main-transition;

        &:hover {
            box-shadow: $portfolio-list-item-mod-shadow;
        }
    }

    &__img {
        display: block;
    }

    &__figcaption {
        border-right: 1px solid $portfolio-list-figcaption-border-color;
        border-bottom: 1px solid $portfolio-list-figcaption-border-color;
        border-left: 1px solid $portfolio-list-figcaption-border-color;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        padding: 20px 24px 4px;
    }

    &__type {
        font-size: 16px;
        line-height: 1.88;
        color: $main-text-color;
        padding: 0 24px 20px;
    }

    &__thumb {
        position: relative;
        overflow: hidden;
    }
    &__desc {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $portfolio-list-desc-bg-color;
        max-width: 370px;
        width: 100%;
        max-height: 294px;
        height: 100%;
        font-size: 18px;
        line-height: 1.56;
        color: $portfolio-list-desc-color;
        padding: 49px 24px;
        transform: translateY(100%);
        transition: transform $main-transition;
    }
}
.portfolio-list__item:hover .portfolio-list__desc {
    transform: translateY(0);
}