.socials {
    display: flex;
    align-items: center;
    margin-left: 22px;

    &--footer {
            display: flex;
            align-items: center;
            margin-left: 0;
    }

    &__item {
    margin-left: 10px;
    margin-bottom: 30px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $socials-link-bg-color;
        color: $socials-link-color;
        transition: background-color $main-transition, color $main-transition;

        &:hover,
        &:focus {
        background-color: $main-brand-color;
        color: $socials-link-bg-color;
        }

        &--footer {
            margin-right: 10px;
            background-color: $footer-socials-link-bg-color;
            color: $footer-socials-link-color;
            transition: background-color $main-transition;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}