// Mobile 
.team {
    background-color: $team-section-bg-color;
    }

    .team-members-title {
        font-size: 28px;
        margin-bottom: 30px;
        text-align: center;
    }

    .team-members-list {
        margin-left: -30px;
        margin-bottom: -30px;

        &__item {
            background-color: $team-members-list-item-bg-color;
            box-shadow: $team-members-list-item-shadow;
            border-radius: 0px 0px 4px 4px;
            margin-left: 30px;
            margin-bottom: 30px;
        }

        &__img {
            width: 100%;
            display: block;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            margin: 30px auto 10px;
        }

        &__role {
            font-size: 16px;
            line-height: 1.19;
            color: $main-text-color;
            text-align: center;
            margin-bottom: 16px;
        }
    }

// Tablet
@media screen and (min-width: $tablet) {
    .team-members-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        &__item {
            flex-basis: #{calc((100% / 2) - 30px)};
        }
    }
}

// Desktop
@media screen and (min-width: $desktop) {
    .team-members-list {

        &__item {
            max-width: 270px;
            flex-basis: #{calc((100% / 4) - 30px)};
        }
    }
}