.team {
    background-color: $team-section-bg-color;
}

.team-members-title {
    margin-bottom: 50px;
}

.team-members-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

    &__item {
        background-color: $team-members-list-item-bg-color;
        box-shadow: $team-members-list-item-shadow;
        border-radius: 0px 0px 4px 4px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        margin: 30px auto 10px;
    }

    &__role {
        font-size: 16px;
        line-height: 1.19;
        color: $main-text-color;
        text-align: center;
        margin-bottom: 16px;
    }
}